{% extends 'admin/base.html.twig' %}

{% block title %}Test Symfony 5 - Login{% endblock %}

{% block stylesheets %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/admin/css/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/admin/css/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('assets/admin/css/adminlte.min.css') }}">
{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary bg-secondary">
                <div class="card-header text-center">รง
                    <p class="mb-1">
                        <img src="{{ asset('assets/imgs/logo.png') }}" width="40%" height="50%" alt="">
                    <p class="mb-1">
                    <a href="../../index2.html" class="h1">Welcome to admin</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form method="post">                    
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" value="{{ last_username }}" id="inputEmail" name="email" placeholder="Email" required autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                    <div class="input-group mb-3">
                        <p class="font-weight-bold text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                            Remember Me
                            </label>
                        </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    </form>
                    <p class="mb-1">
                        <b><a href="forgot-password.html" class="text-dark">I forgot my password</a></b>
                    </p>
                    <p class="mb-0">
                        <b><a href="register.html" class="text-center text-dark">Register a new membership</a></b>
                    </p>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('assets/admin/js/jquery/jquery.min.js') }}"></script>
            <!-- Bootstrap 4 -->
            <script src="{{ asset('assets/admin/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('assets/admin/js/adminlte.min.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}