
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fran Torres CV - Developer & IT Engineer</title>
<meta name="description" content="Fran Torres CV, developer and IT engineer. More than 20 years of experiencie on computer science. I am actually working in Capgemini as a technical reference.">
<link rel="icon" type="image/png" href="{{ asset('assets/imgs/favicon.png') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,900|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/script.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha384-n1AULnKdMJlK1oQCLNDL9qZsDgXtH6jRYFCpBtWFc+a9Yve0KSoMn575rk755NJZ" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="81" style="overflow: hidden;">
    <div id="loader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <header id="home">
        <div id="home-container" class="container">
        <img src="{{ asset('assets/imgs/logo.png') }}" alt="" width="220 px" height="200 px">
        <h1>Fran Torres</h1>
        <h2>Developer and IT Engineer</h2>
        </div>

        <div class='icon-scroll'><div/>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#home">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">about me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience">experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#formation">education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">contact</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <div id="content">
        <section class="bg-secondary" id="about">
        <div class="container">
            <div class="row">
            <div class="col-md-3" id="profil-picture" data-aos="fade-up">
                <img src="{{ asset('assets/imgs/fran.png') }}" width="80%" height="90%" alt="">
            </div>
            <div class="col-md-9" id="about-text">
                <h2 class="title">about me</h2>
                <h3 class="subtitle">Fran Torres - Developer and IT Engineer</h3>
                <br>
                <p>
                    Passionate about new technologies with more than 20 years of experience in this sector. Combining a multitude of languages of programming ​​and administration of systems, integrating development environments with the most important technologies.
                </p>
            </div>
            </div>
            <div class="row social-buttons">
            <div class="col-md-4">
                <div class="effect egeon">
                <a href="CV-Fran-Torres.pdf" target="_blank" class="bg-orange button">Download my CV<i class="fa fa-download"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="effect egeon">
                <a href="https://www.linkedin.com/in/steeven-tronet/" target="_blank" rel="noopener" class="in button">Linked In<i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="effect egeon">
                <a href="https://github.com/Xoto1162" target="_blank" rel="noopener" class="github button">GitHub<i class="fa fa-github"></i></a>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="bg-secondary" id="skills">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h2 class="title">Skills</h2>
                <div class="row">
                <div class="col-md-3 skill-block">
                    <div class="block" data-aos="flip-right">
                    <div class="skill-logo">
                        <i class="fa fa-code"></i>
                    </div>
                    <h3>Programming Languages</h3>
                    <ul>
                        <li>Javascript / VueJS / JQuery</li>
                        <li>PHP / CakePHP / Symfony</li>
                        <li>HTML / CSS / Boostrap</li>
                        <li>Scripting / BASH / Python</li>
                        <li>C+</li>
                    </ul>
                    </div>
                </div>

                <div class="col-md-3 skill-block">
                    <div class="block" data-aos="flip-right">
                    <div class="skill-logo">
                        <i class="fa fa-server"></i>
                    </div>
                    <h3>S.O.</h3>
                    <ul>
                        <li>Windows / Windows Server</li>
                        <li>A.D. / Accounts</li>
                        <li>A.D. / Security directives</li>
                        <li>Linux / DEBIAN / CentOS</li>
                        <li>Service management / Apache</li>
                        <li>Service management / SMB</li>
                        <li>Service management / NFS</li>
                    </ul>
                    </div>
                </div>

                <div class="col-md-3 skill-block">
                    <div class="block" data-aos="flip-up">
                    <div class="skill-logo">
                        <i class="fa fa-database"></i>
                    </div>
                    <h3>Data</h3>
                    <ul>
                        <li>MySQL</li>
                        <li>SQLite</li>
                        <li>ORACLE</li>
                        <li><abbr data-toggle="tooltip" data-placement="top" title="Elasticsearch / Logstash / Kibana">ELK</abbr></li>
                    </ul>
                    </div>
                </div>

                <div class="col-md-3 skill-block">
                    <div class="block" data-aos="flip-left">
                    <div class="skill-logo">
                        <i class="fa fa-plus"></i>
                    </div>
                    <h3>Extra</h3>
                    <ul>
                        <li>Git / SVN</li>
                        <li>Docker</li>
                        <li>Jenkins</li>
                        <li><abbr data-toggle="tooltip" data-placement="top" title="Oriented Object Programming">OOP</abbr></li>
                        <li><abbr data-toggle="tooltip" data-placement="top" title="Model View Controller">MVC</abbr></li>
                        <li>JSON / XML</li>
                        <li><abbr data-toggle="tooltip" data-placement="top" title="Internet Of Things">IOT</abbr> / Arduino / Raspberry</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="bg-secondary" id="experience">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h2 class="title">Work Experience</h2>
                <div class="timeline">

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>June 2019 - At present</h3>
                    <small>(2 years)</small>
                    <p>Capgemini - CNFPT - Murcia (Spain)</p>
                    <p><img class="logo-entreprise" src="{{ asset('imgs/entreprises/capgemini.png') }}" width="80%" alt="Capgemini"></p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Working Student PHP Developer</h3>
                    <ul>
                        <li>Tecnical reference to support members with less experience</li>
                        <li>Design and development of new features</li>
                        <li>Bugfix</li>
                        <li>Setting up automated tests</li>
                        <li>Functional assistance</li>
                    </ul>
                    <p>
                        Technology stack :
                        <abbr data-toggle="tooltip" data-placement="top" title="PHP"><img src="{{ asset('imgs/technos/php.png') }}" class="logo-tech" alt="PHP"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="CakePHP"><img src="{{ asset('imgs/technos/cakephp.png') }}" class="logo-tech" alt="CakePHP"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="MariaDB"><img src="{{ asset('imgs/technos/mariadb.png') }}" class="logo-tech" alt="MariaDB"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Selenium"><img src="{{ asset('imgs/technos/selenium.png') }}" class="logo-tech" alt="Selenium"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Docker"><img src="{{ asset('imgs/technos/docker.png') }}" class="logo-tech" alt="Docker"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Jenkins"><img src="{{ asset('imgs/technos/jenkins.png') }}" class="logo-tech" alt="Jenkins"></abbr>
                    </p>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>June 2019 - August 2019</h3>
                    <small>(2 and a half months)</small>
                    <p>Capgemini - Rennes (France)</p>
                    <!--<p><img class="logo-entreprise" src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/capgemini.png" width="80%" alt="Capgemini"></p>-->
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Big Data Consultant Intern</h3>
                    <p>DataScientist and DataArchitect intern on a connected building project :</p>
                    <ul>
                        <li>Predictive modeling of heating consumption with the methodology CRISP-DM</li>
                        <li>Setting up a streaming data architecture for IoT devices</li>
                        <li>DataViz and Alerting</li>
                        <li>Developing a connected devices simulator</li>
                        <!--<li>Dynamic learning on a distributed environment</li>-->
                    </ul>
                    <p>
                        Technology stack :
                        <abbr data-toggle="tooltip" data-placement="top" title="Java"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/java.png" class="logo-tech" alt="Java"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Python"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/python.png" class="logo-tech" alt="Python"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="R"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/r.png" class="logo-tech" alt="R"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Kafka"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/kafka.png" class="logo-tech" alt="Kafka"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Elasticsearch Logstash Kibana"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/elk.png" class="logo-tech" alt="Elasticsearch Logstash Kibana"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Grafana"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/grafana.png" class="logo-tech" alt="Grafana"></abbr>
                    </p>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>January 2017 - December 2018</h3>
                    <small>(2 years)</small>
                    <p>Freelance - Rennes (France)</p>
                    <p><img src="C:\DEVs\Pruebas\HomePage/imgs/logo.png" height="60px" alt=""></p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Freelance Web Developer</h3>
                    <ul>
                        <li>Improving a <em>jQuery</em> quiz app</li>
                        <li>Creating a <em>Node.js</em> script to generate PDF files from a <em>xAPI</em> tracking in <em>JSON</em></li>
                        <li>Creating an intranet in <em>PHP</em> to manage employees, planning, and invoices</li>
                        <li>Performing a proof of concept for a 3 dimensional furniture creation application with <em>three.js</em></li>
                        <li>...</li>
                    </ul>
                    <p>
                        Some clients :
                        <abbr data-toggle="tooltip" data-placement="top" title="Crédit Mutuel"><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/creditmutuel.jpg" class="logo-tech" alt="Crédit Mutuel"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="MF Network"><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/mf_network.png" class="logo-tech" alt="MF Network"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="My Serious Game"><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/my_serious_game.jpg" class="logo-tech" alt="My Serious Game"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="We Recruit"><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/werecruit.png" class="logo-tech" alt="We Recruit"></abbr>
                    </p>
                    <br>
                    <p>
                        Technology stack :
                        <abbr data-toggle="tooltip" data-placement="top" title="Node.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/nodejs.png" class="logo-tech" alt="Node.js"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Vue.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/vuejs.png" class="logo-tech" alt="Vue.js"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="PHP"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/php.png" class="logo-tech" alt="PHP"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="MySQL"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/mysql.png" class="logo-tech" alt="MySQL"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="jQuery"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/jquery.png" class="logo-tech" alt="jQuery"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Bootstrap"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/bootstrap.png" class="logo-tech" alt="Bootstrap"></abbr>
                    </p>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>June 2017</h3>
                    <small>(1 month)</small>
                    <p>Easylience - Rennes (France)</p>
                    <p><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/easylience.png" height="60px" alt=""></p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Developer and Tester Intern</h3>
                    <p>Setting up a test environment for a crisis management application developed in <em>Node.js</em> and <em>Vue.js</em></em></p>
                    <ul>
                        <li>Unit testing Backend and Frontend</li>
                        <li>End to end testing</li>
                        <li>Test covering</li>
                    </ul>
                    <p>
                        Technology stack :
                        <abbr data-toggle="tooltip" data-placement="top" title="Vue.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/vuejs.png" class="logo-tech" alt="Vue.js"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Node.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/nodejs.png" class="logo-tech" alt="Node.js"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Mocha"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/mocha.png" class="logo-tech" alt="Mocha"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Karma"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/karma.png" class="logo-tech" alt="Karma"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Nightwatch.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/nightwatch.png" class="logo-tech" alt="Nightwatch.js"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Istanbul"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/istanbul.png" class="logo-tech" alt="Istanbul"></abbr>
                    </p>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>January 2015 - Today</h3>
                    <p>Association GVM Music France</p>
                    <p><img src="C:\DEVs\Pruebas\HomePage/imgs/entreprises/gvm.png" height="60px" alt=""></p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Developer and Webmaster</h3>
                    <ul>
                        <li>Creating an intranet with CakePHP and Vue.js to manage contacts, planning and invoices</li>
                        <li>Creating and managing many showcase websites</li>
                    </ul>
                    <p>
                        Technology stack :
                        <abbr data-toggle="tooltip" data-placement="top" title="Joomla"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/joomla.png" class="logo-tech" alt="Joomla"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="CakePHP"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/cakephp.png" class="logo-tech" alt="CakePHP"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="MySQL"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/mysql.png" class="logo-tech" alt="MySQL"></abbr>
                        <abbr data-toggle="tooltip" data-placement="top" title="Vue.js"><img src="C:\DEVs\Pruebas\HomePage/imgs/technos/vuejs.png" class="logo-tech" alt="Vue.js"></abbr>
                    </p>
                    </div>
                </div>

                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="bg-secondary" id="formation">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h2 class="title">Education</h2>
                <div class="timeline">
                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>2018 - 2021</h3>
                    <small>3 years of study</small>
                    <p style="line-height: 1.2;">ESIR - École Supérieure d'Ingénieurs de Rennes (France)</p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Engineer's degree in computer science</h3>
                    <p>General computer training :</p>
                    <ul>
                        <li>Fundamental : graph theory, programming language theory, compilation, computational complexity, programming</li>
                        <li>Software engineering : software development process, software architecture, agile software development</li>
                        <li>Data science and artificial intelligence : databases, data mining, big data</li>
                        <li>Systems : operating systems, distributed computing, parallel computing, security</li>
                    </ul>
                    <small><a href="https://esir.univ-rennes1.fr/spe-ti-option-informatique-parcours-systemes-dinformation-si" target="_blank" rel="noopener">More information</a></small>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>2016 - 2018</h3>
                    <small>2 years of study</small>
                    <p style="line-height: 1.2;">ESIR - École Supérieure d'Ingénieurs de Rennes (France)</p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Preparation for French engineering school</h3>
                    <p>Specialising in information technology</p><br>
                    <small><a href="https://esir.univ-rennes1.fr/cycles-preparatoires-ingenieur-universite-rennes-1-esir" target="_blank" rel="noopener">More information</a></small>
                    </div>
                </div>

                <div class="entry">
                    <div class="title" data-aos="fade-right">
                    <h3>2016</h3>
                    <small>2 years of study</small><br>
                    <p>Lycée Bréquigny Rennes (France)</p>
                    </div>
                    <div class="body" data-aos="fade-left">
                    <h3>Pre-University training</h3>
                    <p>French Scientific Baccalaureate</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

        <footer id="contact">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <h3>Networks</h3>
                <hr>
                <div class="effect egeon icon">
                <a href="https://www.linkedin.com/in/steeven-tronet/" target="_blank" rel="noopener" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/Xoto1162" target="_blank" rel="noopener" class="github" title="Join us on Linked In"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Download my CV</h3>
                <hr>
                <div class="effect egeon">
                <a href="CV-Steeven-Tronet.pdf" target="_blank" class="bg-orange button">Download my CV<i class="fa fa-download"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Contact</h3>
                <hr>
                <p id="contact-block">
                Rennes, France<br>
                Email : <a href="mailto:contact@frantorres.com">contact@steeventronet.com</a><br>
                Phone : <a href="tel:+33601308658">+33&nbsp;6&nbsp;01&nbsp;30&nbsp;86&nbsp;58</a>
                </p>
            </div>
            </div>
        </div>
        </footer>
    </div>
</body>
</html>
